#pane {
    -fx-background-image: url(/Day.png);
}

#chatWindow {
    -fx-text-fill: black;
}

#rootChat .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
#flowChat {
    -fx-background-color: white;
}