@font-face {
    src: url("/Fixedsys.ttf");
}

#pane {
    -fx-background-image: url(/Day.png);
}

#chatWindow {
    -fx-text-fill: black;
}

#rootChat .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
#flowChat {
    -fx-background-color: white;
    -fx-font-family: 'Fixedsys Excelsior 3.01';
    -fx-font-size: 20;
}