#pane {
    -fx-background-image: url(/NightMafia.jpg);
}

#chatWindow {
    -fx-text-fill: yellow;
    -fx-background-color: rgba(0,0,0,0.2);
}

#chatWindow .scroll-pane {
    -fx-background-color: transparent;
}

#chatWindow .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#chatWindow .scroll-pane .content{
    -fx-background-color: transparent;
}

#usersList .list-cell {
    -fx-opacity: 50%;
    -fx-text-fill: red;
}

#rootChat .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

#flowChat {
    -fx-background-color: rgba(0,0,0,0.2);

}