#pane {
    -fx-background-image: url(/NightMafia.jpg);
    -fx-background-repeat: stretch;
}

#chatWindow {
    -fx-text-fill: white;
    -fx-opacity: 20%;
}

.list-view .list-cell {
    -fx-opacity: 50%;
    -fx-text-fill: red;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
